// =====================================================
// Admin UI - Form Check (Checkbox, Radio, Switch)
// =====================================================

@use "../prefix" as *;
@use "../base/variables" as *;

// Base Form Check Container
.#{$prefix}-form-check {
  display: block;
  min-height: $sa-input-line-height * 1rem;
  padding-left: $sa-form-check-padding-start;
  margin-bottom: $sa-form-check-margin-bottom;

  .#{$prefix}-form-check-input {
    float: left;
    margin-left: $sa-form-check-padding-start * -1;
  }

  &.#{$prefix}-form-check-reverse {
    padding-right: $sa-form-check-padding-start;
    padding-left: 0;
    text-align: right;

    .#{$prefix}-form-check-input {
      float: right;
      margin-right: $sa-form-check-padding-start * -1;
      margin-left: 0;
    }

    .#{$prefix}-form-check-label {
      margin-right: 0.5rem;
    }
  }
}

// Form Check Input (Checkbox & Radio)
.#{$prefix}-form-check-input[type=checkbox], .#{$prefix}-form-check-input[type=radio] {
  #{$css-var-prefix}-form-check-bg: transparent;

  flex-shrink: 0;
  width: $sa-form-check-input-width;
  height: $sa-form-check-input-width;
  margin-top: ($sa-input-line-height * 1rem - $sa-form-check-input-width) * 0.5;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #{css-var('form-check-bg')};
  background-image: #{css-var('form-check-bg-image')};
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #{css-var('secondary-color')};
  print-color-adjust: exact;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &[type="checkbox"] {
    border-radius: 0.267em;
  }

  &[type="radio"] {
    border-radius: 50%;
  }

  &:active {
    filter: brightness(90%);
  }

  &:focus {
    border-color: #{css-var('body-color')};
    outline: 0;
    box-shadow: none;
  }

  &:checked {
    background-color: #{css-var('primary')};
    border-color: #{css-var('primary')};

    &[type="checkbox"] {
      #{$css-var-prefix}-form-check-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    &[type="radio"] {
      #{$css-var-prefix}-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='1.6' fill='%23fff'/%3e%3c/svg%3e");
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: #{css-var('primary')};
    border-color: #{css-var('primary')};
    #{$css-var-prefix}-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3e%3cpath d='M2.5 6H9.5' stroke='%23fff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.45;

    ~ .#{$prefix}-form-check-label {
      cursor: default;
      opacity: 0.45;
    }
  }
}

// Form Check Label
.#{$prefix}-form-check-label {
  color: #{css-var('body-color')};
  cursor: pointer;
}

// Inline Form Checks
.#{$prefix}-form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}

// Form Switch
.#{$prefix}-form-switch {
  padding-left: $sa-form-switch-padding-start;

  .#{$prefix}-form-check-input[type="checkbox"] {
    #{$css-var-prefix}-form-switch-bg: url("data:image/svg+xml,%3csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url%28%23a%29'%3e%3ccircle cx='12' cy='11' r='8.5' fill='%23fff'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='a' x='0' y='0' width='22' height='22' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset dy='2'/%3e%3cfeGaussianBlur stdDeviation='2'/%3e%3cfeColorMatrix values='0 0 0 0 0.180392 0 0 0 0 0.14902 0 0 0 0 0.239216 0 0 0 0.16 0'/%3e%3cfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_6488_3264'/%3e%3cfeBlend in='SourceGraphic' in2='effect1_dropShadow_6488_3264' result='shape'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");

    width: $sa-form-switch-width;
    height: $sa-form-switch-height;
    margin-left: $sa-form-switch-padding-start * -1;
    background-image: #{css-var('form-switch-bg')};
    background-position: left center;
    border-radius: $sa-form-switch-width;
    border: 0;
    transition: background-position 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:not(:checked) {
      background-color: rgba($sa-gray-400, 0.4);
      box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16) inset;
    }

    &:focus {
      box-shadow: none;
    }

    &:checked {
      background-color: #{css-var('primary')};
      background-position: 95% center;
    }

    &:disabled {
      opacity: 0.45;
    }
  }

  &.#{$prefix}-form-check-reverse {
    padding-right: $sa-form-switch-padding-start;
    padding-left: 0;

    .#{$prefix}-form-check-input[type="checkbox"] {
      margin-right: $sa-form-switch-padding-start * -1;
      margin-left: 0;
    }
  }
}

// Color Variants for Form Check
@each $color-name in (primary, secondary, success, danger, warning, info) {
  .#{$prefix}-form-check-#{$color-name} {
    .#{$prefix}-form-check-input {
      &:checked {
        background-color: #{css-var($color-name)};
        border-color: #{css-var($color-name)};
        box-shadow: 0 0.125rem 0.375rem 0 rgba(#{css-var('#{$color-name}-rgb')}, 0.3);
      }

      &:focus {
        border-color: #{css-var($color-name)};
        box-shadow: 0 0.125rem 0.375rem 0 rgba(#{css-var('#{$color-name}-rgb')}, 0.3);
      }

      &[type="checkbox"]:indeterminate {
        background-color: #{css-var($color-name)};
        border-color: #{css-var($color-name)};
      }
    }

    &.#{$prefix}-form-switch .#{$prefix}-form-check-input:checked {
      background-color: #{css-var($color-name)};
    }
  }
}

// Form Range
.#{$prefix}-form-range {
  width: 100%;
  height: 1.25rem;
  padding: 0;
  appearance: none;
  background-color: transparent;

  &:focus {
    outline: 0;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 0.25rem rgba(#{css-var('primary-rgb')}, 0.25);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 0.25rem rgba(#{css-var('primary-rgb')}, 0.25);
    }
  }

  &::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.375rem;
    appearance: none;
    background-color: #{css-var('primary')};
    border: 0;
    border-radius: 1rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.25rem;
    color: transparent;
    cursor: pointer;
    background-color: #{css-var('border-color')};
    border-color: transparent;
    border-radius: 1rem;
  }

  &::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    appearance: none;
    background-color: #{css-var('primary')};
    border: 0;
    border-radius: 1rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &::-moz-range-track {
    width: 100%;
    height: 0.25rem;
    color: transparent;
    cursor: pointer;
    background-color: #{css-var('border-color')};
    border-color: transparent;
    border-radius: 1rem;
  }

  &:disabled {
    pointer-events: none;

    &::-webkit-slider-thumb {
      background-color: $sa-gray-400;
    }

    &::-moz-range-thumb {
      background-color: $sa-gray-400;
    }
  }
}

.#{$prefix}-form-check-input[type=checkbox]:checked::before, .#{$prefix}-form-check-input[type=radio]:checked::before {
  content: none;
  display: none;
}
