// =====================================================
// Admin UI - Forms
// =====================================================

@use "../prefix" as *;
@use "../base/variables" as *;

// Form Label
.#{$prefix}-form-label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-size: $sa-font-size-sm;
  font-weight: $sa-font-weight-medium;
  color: #{css-var('heading-color')};
}

.#{$prefix}-form-label-lg {
  font-size: $sa-input-font-size-lg;
}

.#{$prefix}-form-label-sm {
  font-size: $sa-input-font-size-sm;
}

// Form Control (Input/Textarea)
.#{$prefix}-form-control[type=date],
.#{$prefix}-form-control[type=datetime-local],
.#{$prefix}-form-control[type=datetime],
.#{$prefix}-form-control[type=email],
.#{$prefix}-form-control[type=month],
.#{$prefix}-form-control[type=number],
.#{$prefix}-form-control[type=password],
.#{$prefix}-form-control[type=search],
.#{$prefix}-form-control[type=tel],
.#{$prefix}-form-control[type=text],
.#{$prefix}-form-control[type=time],
.#{$prefix}-form-control[type=url],
.#{$prefix}-form-control[type=week],
textarea.#{$prefix}-form-control {
  display: block;
  width: 100%;
  min-height: $sa-input-height;
  padding: calc(#{$sa-input-padding-y} - #{$sa-input-border-width}) calc(#{$sa-input-padding-x} - #{$sa-input-border-width});
  font-family: inherit;
  font-size: $sa-input-font-size;
  font-weight: $sa-font-weight-normal;
  line-height: $sa-input-line-height;
  color: #{css-var('body-color')};
  appearance: none;
  background-color: #{css-var('paper-bg')};
  background-clip: padding-box;
  border: $sa-input-border-width solid #{css-var('border-color')};
  border-radius: $sa-input-border-radius;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &::placeholder {
    color: $sa-input-placeholder-color;
    opacity: 1;
    transition: transform 0.2s ease;
  }

  &:hover:not(:focus):not(:disabled) {
    border-color: $sa-input-hover-border-color;
  }

  &:focus {
    border-width: $sa-input-focus-border-width;
    padding: calc(#{$sa-input-padding-y} - #{$sa-input-focus-border-width}) calc(#{$sa-input-padding-x} - #{$sa-input-focus-border-width});
    color: #{css-var('heading-color')};
    background-color: #{css-var('paper-bg')};
    border-color: #{css-var('primary')};
    outline: 0;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(#{css-var('primary-rgb')}, 0.3);

    &::placeholder {
      transform: translateX(4px);
    }
  }

  &:disabled,
  &[readonly] {
    background-color: #{css-var('input-disabled-bg')};
    border-color: #{css-var('input-disabled-border')};
    opacity: 1;
    cursor: not-allowed;
  }

  // Sizes
  &.#{$prefix}-form-control-sm {
    min-height: $sa-input-height-sm;
    padding: calc(#{$sa-input-padding-y-sm} - #{$sa-input-border-width}) calc(#{$sa-input-padding-x-sm} - #{$sa-input-border-width});
    font-size: $sa-input-font-size-sm;
    border-radius: $sa-input-border-radius-sm;

    &:focus {
      padding: calc(#{$sa-input-padding-y-sm} - #{$sa-input-focus-border-width}) calc(#{$sa-input-padding-x-sm} - #{$sa-input-focus-border-width});
    }
  }

  &.#{$prefix}-form-control-lg {
    min-height: $sa-input-height-lg;
    padding: calc(#{$sa-input-padding-y-lg} - #{$sa-input-border-width}) calc(#{$sa-input-padding-x-lg} - #{$sa-input-border-width});
    font-size: $sa-input-font-size-lg;
    border-radius: $sa-input-border-radius-lg;

    &:focus {
      padding: calc(#{$sa-input-padding-y-lg} - #{$sa-input-focus-border-width}) calc(#{$sa-input-padding-x-lg} - #{$sa-input-focus-border-width});
    }
  }

  // Plaintext variant
  &.#{$prefix}-form-control-plaintext {
    display: block;
    width: 100%;
    padding: $sa-input-padding-y 0;
    margin-bottom: 0;
    line-height: $sa-input-line-height;
    color: #{css-var('body-color')};
    background-color: transparent;
    border: solid transparent;
    border-width: $sa-input-border-width 0;

    &:focus {
      outline: 0;
    }
  }

  // Color input
  &[type="color"] {
    width: 3rem;
    height: $sa-input-height;
    padding: 0.25rem;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 0;
      border-radius: $sa-input-border-radius-sm;
    }
  }
}

// Textarea specific
textarea.#{$prefix}-form-control {
  min-height: calc(#{$sa-input-line-height} * 1em + #{$sa-input-padding-y} * 2 + #{$sa-input-border-width} * 2);
  resize: vertical;

  &.#{$prefix}-autosize {
    field-sizing: content;
    min-height: 5rem;
    overflow-x: hidden;
    resize: none;
  }
}

// Form Select
select.#{$prefix}-form-select {
  #{$css-var-prefix}-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 22' fill='none'%3e%3cpath d='M10.9999 12.0743L15.5374 7.53676L16.8336 8.83292L10.9999 14.6666L5.16626 8.83292L6.46243 7.53676L10.9999 12.0743Z' fill='%236d6b77' fill-opacity='0.9'/%3e%3c/svg%3e");

  display: block;
  width: 100%;
  max-width: 100%;
  min-height: $sa-input-height;
  padding: calc(#{$sa-form-select-padding-y} - #{$sa-input-border-width}) calc(#{$sa-form-select-indicator-padding} - #{$sa-input-border-width}) calc(#{$sa-form-select-padding-y} - #{$sa-input-border-width}) calc(#{$sa-form-select-padding-x} - #{$sa-input-border-width});
  font-family: inherit;
  font-size: $sa-input-font-size;
  font-weight: $sa-font-weight-normal;
  line-height: $sa-input-line-height;
  color: #{css-var('body-color')};
  appearance: none;
  background-color: #{css-var('paper-bg')};
  background-image: #{css-var('form-select-bg-img')};
  background-repeat: no-repeat;
  background-position: right $sa-form-select-padding-x center;
  background-size: 22px 24px;
  background-clip: padding-box;
  border: $sa-input-border-width solid #{css-var('border-color')};
  border-radius: $sa-input-border-radius;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  optgroup,
  option {
    background-color: #{css-var('paper-bg')};
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: $sa-form-select-padding-x;
    background-image: none;
  }

  &:hover:not(:focus):not(:disabled) {
    border-color: $sa-input-hover-border-color;
  }

  &:focus {
    border-width: $sa-input-focus-border-width;
    padding: calc(#{$sa-form-select-padding-y} - #{$sa-input-focus-border-width}) calc(#{$sa-form-select-indicator-padding} - #{$sa-input-focus-border-width}) calc(#{$sa-form-select-padding-y} - #{$sa-input-focus-border-width}) calc(#{$sa-form-select-padding-x} - #{$sa-input-focus-border-width});
    background-position: right calc(#{$sa-form-select-padding-x} - 1px) center;
    border-color: #{css-var('primary')};
    color: #{css-var('body-color')};
    outline: 0;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(#{css-var('primary-rgb')}, 0.3);
  }

  &:hover {
    color: #{css-var('body-color')};
  }

  &:disabled {
    color: #{css-var('secondary-color')};
    background-color: #{css-var('input-disabled-bg')};
    border-color: #{css-var('input-disabled-border')};
    cursor: not-allowed;
  }

  // Sizes
  &.#{$prefix}-form-select-sm {
    min-height: $sa-input-height-sm;
    padding: calc(#{$sa-input-padding-y-sm} - #{$sa-input-border-width}) calc(#{$sa-form-select-indicator-padding} - #{$sa-input-border-width}) calc(#{$sa-input-padding-y-sm} - #{$sa-input-border-width}) calc(#{$sa-input-padding-x-sm} - #{$sa-input-border-width});
    font-size: $sa-input-font-size-sm;
    background-size: 20px 20px;
    border-radius: $sa-input-border-radius-sm;

    &:focus {
      padding: calc(#{$sa-input-padding-y-sm} - #{$sa-input-focus-border-width}) calc(#{$sa-form-select-indicator-padding} - #{$sa-input-focus-border-width}) calc(#{$sa-input-padding-y-sm} - #{$sa-input-focus-border-width}) calc(#{$sa-input-padding-x-sm} - #{$sa-input-focus-border-width});
    }
  }

  &.#{$prefix}-form-select-lg {
    min-height: $sa-input-height-lg;
    padding: calc(#{$sa-input-padding-y-lg} - #{$sa-input-border-width}) calc(#{$sa-form-select-indicator-padding} - #{$sa-input-border-width}) calc(#{$sa-input-padding-y-lg} - #{$sa-input-border-width}) calc(#{$sa-input-padding-x-lg} - #{$sa-input-border-width});
    font-size: $sa-input-font-size-lg;
    background-size: 26px 26px;
    border-radius: $sa-input-border-radius-lg;

    &:focus {
      padding: calc(#{$sa-input-padding-y-lg} - #{$sa-input-focus-border-width}) calc(#{$sa-form-select-indicator-padding} - #{$sa-input-focus-border-width}) calc(#{$sa-input-padding-y-lg} - #{$sa-input-focus-border-width}) calc(#{$sa-input-padding-x-lg} - #{$sa-input-focus-border-width});
    }
  }

  // Width variants
  &.#{$prefix}-form-select-auto {
    width: auto;
    max-width: 100%;
  }
}

// Form Text (Help text)
.#{$prefix}-form-text {
  margin-top: 0.25rem;
  font-size: $sa-font-size-sm;
  color: #{css-var('secondary-color')};
}

// Form Floating Labels
.#{$prefix}-form-floating {
  position: relative;

  > .#{$prefix}-form-control,
  > .#{$prefix}-form-select {
    height: calc(3.5rem + #{$sa-input-border-width} * 2);
    min-height: calc(3.5rem + #{$sa-input-border-width} * 2);
    padding: 1rem $sa-input-padding-x;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem $sa-input-padding-x;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: $sa-input-border-width solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    color: $sa-input-placeholder-color;
  }

  > .#{$prefix}-form-control:focus,
  > .#{$prefix}-form-control:not(:placeholder-shown),
  > .#{$prefix}-form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;

    ~ label {
      color: #{css-var('primary')};
      transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    }
  }

  > .#{$prefix}-form-control::placeholder {
    color: transparent;
  }

  > .#{$prefix}-form-control:focus::placeholder {
    color: $sa-input-placeholder-color;
  }
}

// Form Validation States
.#{$prefix}-is-valid {
  border-color: $sa-form-feedback-valid-color;

  &:focus {
    border-color: $sa-form-feedback-valid-color;
    box-shadow: 0 0.125rem 0.375rem 0 rgba($sa-form-feedback-valid-color, 0.3);
  }
}

.#{$prefix}-is-invalid {
  border-color: $sa-form-feedback-invalid-color;

  &:focus {
    border-color: $sa-form-feedback-invalid-color;
    box-shadow: 0 0.125rem 0.375rem 0 rgba($sa-form-feedback-invalid-color, 0.3);
  }
}

.#{$prefix}-valid-feedback,
.#{$prefix}-invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: $sa-font-size-sm;
}

.#{$prefix}-valid-feedback {
  color: $sa-form-feedback-valid-color;
}

.#{$prefix}-invalid-feedback {
  color: $sa-form-feedback-invalid-color;
}

.#{$prefix}-valid-tooltip,
.#{$prefix}-invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: $sa-font-size-sm;
  color: $sa-white;
  border-radius: $sa-border-radius;
}

.#{$prefix}-valid-tooltip {
  background-color: rgba($sa-form-feedback-valid-color, 0.9);
}

.#{$prefix}-invalid-tooltip {
  background-color: rgba($sa-form-feedback-invalid-color, 0.9);
}

// Show feedback when input has validation class
.#{$prefix}-is-valid ~ .#{$prefix}-valid-feedback,
.#{$prefix}-is-valid ~ .#{$prefix}-valid-tooltip,
.#{$prefix}-is-invalid ~ .#{$prefix}-invalid-feedback,
.#{$prefix}-is-invalid ~ .#{$prefix}-invalid-tooltip {
  display: block;
}

// Form Row
.#{$prefix}-form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;

  > .#{$prefix}-col,
  > [class*="#{$prefix}-col-"] {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

// Horizontal Form
.#{$prefix}-col-form-label {
  padding-top: calc(#{$sa-input-padding-y} + #{$sa-input-border-width});
  padding-bottom: calc(#{$sa-input-padding-y} + #{$sa-input-border-width});
  margin-bottom: 0;
  font-size: inherit;
  font-weight: $sa-font-weight-medium;
  line-height: $sa-input-line-height;
  color: #{css-var('heading-color')};
  white-space: nowrap;
}

.#{$prefix}-col-form-label-lg {
  padding-top: calc(#{$sa-input-padding-y-lg} + #{$sa-input-border-width});
  padding-bottom: calc(#{$sa-input-padding-y-lg} + #{$sa-input-border-width});
  font-size: $sa-input-font-size-lg;
}

.#{$prefix}-col-form-label-sm {
  padding-top: calc(#{$sa-input-padding-y-sm} + #{$sa-input-border-width});
  padding-bottom: calc(#{$sa-input-padding-y-sm} + #{$sa-input-border-width});
  font-size: $sa-input-font-size-sm;
}
